.col_1{
    width:8.33%;
}
.col_2{
    width:16.67%;
}
.col_3{
    width:25%;
}
.col_4{
    width:33.33%;
}
.col_5{
    width:41.66%;
}
.col_6{
    width:50%;
}
.col_7{
    width:58.33%;
}
.col_8{
    width:66.6%;
}
.col_9{
    width:75%;
}
.col_10{
    width:83.33%;
}
.col_11{
    width:91.66%;
}
.col_12{
    width:100%;
}
[class *= "col_"]{
    float:left;
    padding:10px;
}
